db.sqlite3
*.pyc
__pycache__/
*.pyc
env.py
.env.py
.venv
venv/
/about/migrations/__pycache__
/about/migrations/__pycache__
/about/migrations/__pycache__
/about/migrations/__pycache__
/quiz/migrations/__pycache__
/quiz/migrations/__pycache__
