{% extends "base.html" %}
{% block title %}Our Team | Women in Tech{% endblock %}

{% block content %}
  <h2>Meet the Team</h2>
  <div class="team-grid">
    <div class="member">
      <h3>Johnny</h3>
      <p>Fullstack</p>
      <a href="https://github.com/JohnnySonTrinh" target="_blank">GitHub</a> |
      <a href="https://www.linkedin.com/in/johnny-trinh-dev/" target="_blank">LinkedIn</a>
    </div>
    <div class="member">
      <h3>Katarina Kilian</h3>
      <p>Fullstack</p>
      <a href="https://github.com/kakilian" target="_blank">GitHub</a> |
      <a href="https://www.linkedin.com/in/katarina-kilian-645242313/" target="_blank">LinkedIn</a>
    </div>
    <div class="member">
      <h3>Katalin Molnar</h3>
      <p>Fullstack</p>
      <a href="https://github.com/molnarlin" target="_blank">GitHub</a> |
      <a href="https://www.linkedin.com/in/katalin-molnar-b6a694165/" target="_blank">LinkedIn</a>
    </div>
    <div class="member">
      <h3>Dimitri Edel</h3>
      <p>Fullstack</p>
      <a href="https://github.com/dimitri-edel" target="_blank">GitHub</a> |
      <a href="https://www.linkedin.com/in/dimitri-edel-26a5022a9/" target="_blank">LinkedIn</a>
    </div>
    <div class="member">
      <h3>Zalak Shah</h3>
      <p>Fullstack</p>
      <a href="https://github.com/zalak786" target="_blank">GitHub</a> |
      <a href="https://www.linkedin.com/in/zalak-shah-3a1429342/" target="_blank">LinkedIn</a>
    </div>
  </div>
{% endblock %}
